*{
	padding: 0;
	margin: 0;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #18d26e;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}




.header-top{
	align-items: center;
	padding: 5px;
	color: #ccc;
}
.header-top a{
	color: #ccc;
	text-decoration: none;
}
.header-socials a{
	border: 1px solid  #ccc;
	border-radius: 3px;
}
.header-socials a:hover{
	background-color: #ccc;
	color: #000;
}
.header-socials a i{
	padding: 3px;
	align-items: center;
}

/* ===========Navbar=================== */


.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
 /*  padding-top: 1.563rem; */
/*   padding-bottom: 1.563rem; */

}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #18d26e;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #18d26e;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #18d26e;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #18d26e;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #18d26e;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #18d26e;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #18d26e;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #18d26e;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #18d26e;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #18d26e;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #18d26e;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #18d26e;
}

/*--/ Hamburger Navbar /--*/



.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #000;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

section {
  padding: 60px 0;
}

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}


.umrah {
  background: url('../img/international-tour-packages-from-bangladesh.jpg') center top no-repeat fixed;
  background-size: cover;
  position: relative;
}
.umrah .section-header h3 {
  font-size: 32px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}
.umrah p{
  color: #FFF;
  text-align: justify;
}


.visa {
  background: url('../img/international-tour-packages-from-bangladesh.jpg') center top no-repeat fixed;
  background-size: cover;
  position: relative;
}

.best-featur-block{
  margin:15px 0
}
.best-featur-block span i{
  border:3px solid #00adef;
  color:#00adef;
  height:70px;
  width:65px;
  padding-top:15px;
  font-size:32px;
  text-align:center;
  margin-bottom:28px;
  transition:.4s
}
.best-featur-block:hover span i{
  background:#00adef;
  color:#fff;
  transform:rotateY(150deg);
  width:100px
}


.footer-wrapper{
  background-color:#1a1a1a;
  color:rgba(255,255,255,.7);
  line-height:1.5;
  padding-top:55px
}
.footer-wrapper .footer-title{
  line-height:1.1;
  color:#fff;
  text-transform:uppercase;
  margin-bottom:25px
}
.footer-wrapper a{
  color:#fff
}
.footer-wrapper .footer-phone{
  font-size:30px
}
.footer-wrapper .footer-phone i{
  margin-top:-5px;
  font-size:26px
}
.footer-wrapper ul.footer-menu li{
  display:inline-block;
  margin-right:20px
}
.footer-wrapper ul.footer-menu li a{
  font-size:16px;
  color:rgba(255,255,255,.7)
}
.footer-wrapper a:hover,.footer-wrapper ul.footer-menu li a:hover{
  color:#ff5252
}
.footer-wrapper .footer-newsletter{
  margin-bottom:50px
}
.footer-wrapper .footer-newsletter .form-control{
  border-color:transparent;
  font-size:13px;
  padding-top:19px;
  padding-bottom:17px
}
.footer-wrapper .footer-socials a{
  font-size:22px;
  margin-right:3px;
  margin-bottom:5px;color:rgba(255,255,255,.7)
}
.footer-wrapper .footer-socials a:hover{
  color:#ff5252
}
.footer-wrapper .post-footer{
  background-color:#111;
  padding:10px 0;
  margin-top:40px;
  font-size:12px;
  letter-spacing:2px
}@media (min-width:768px){
  .footer-wrapper ul.footer-menu li{
    display:block;
    margin-right:0
  }
  .footer-wrapper ul.footer-menu li+li{
    margin-top:10px
  }
  .footer-wrapper .post-footer{
    margin-top:70px
  }
}
@media (min-width:992px){
  .footer-wrapper{
    padding-top:85px
  }
  .footer-wrapper .post-footer{
    text-align:center
  }
}
.footer-list li{
  list-style:none!important
}
.footer-list{
  margin:0!important;
  padding:0!important
}
.footer-socials a{
  text-align:center;
  float:left;
  width:36px;
  height:36px;
  border:1px solid #909090;
  border-radius:100%
}
.contact-socials a i,.footer-socials a i{
  font-size:20px;
  line-height:38px;
  color:#909090
}
.footer-wrapper .footer-socials a:hover{
  color:#ff5252
}